# Datenbank Verbindung
DB_HOST=localhost
DB_PORT=3306
DB_USER=dein_db_user
DB_PASS=dein_db_passwort
DB_NAME=deine_datenbank

# Flask Webserver Einstellungen
FLASK_IP=0.0.0.0
FLASK_PORT=5000

# Drucker & Sicherheit
PRINT_TOKEN=mein_super_sicheres_token_123
PRINTER_NAME=ZDesigner GK420t